include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include nodux_quotation_one *.css
recursive-include nodux_quotation_one *.csv
recursive-include nodux_quotation_one *.html
recursive-include nodux_quotation_one *.ico
recursive-include nodux_quotation_one *.js
recursive-include nodux_quotation_one *.json
recursive-include nodux_quotation_one *.md
recursive-include nodux_quotation_one *.png
recursive-include nodux_quotation_one *.py
recursive-include nodux_quotation_one *.svg
recursive-include nodux_quotation_one *.txt
recursive-exclude nodux_quotation_one *.pyc